* {
    box-sizing: border-box;
}

$cubeColor: #c6d2d2;
$containerBorder: #d2d4e4;

body {
    padding: 0;
    margin: 0;
}

.game-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-left: 80px;
}

.tetris-game {
    position: relative;
    overflow: hidden;
    border: 1px solid $containerBorder;

    .tetris-line {
        position: absolute;
        background-color: $containerBorder;
        z-index: 1;
    }

    .tetris-item {
        position: absolute;
        background-color: $cubeColor;
        opacity: 1;
        transition: opacity .2s ease;
        z-index: 2;
    }
}

.tetris-next-shape-wrap {
    border: 1px solid $containerBorder;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .tetris-next-shape {
        position: relative;

        .tetris-item {
            position: absolute;
            background-color: $cubeColor;
        }
    }
}

.game-score {
    text-align: center;
    line-height: 2;
    font-size: 16px;
    color: #717171;
    padding: 50px 0 50px 0;
}

.game-tip {
    width: 400px;
    margin: 20px auto;
    color: #404040;
    padding: 10px;

    h4 {
        line-height: 2;
        margin: 0;
    }
}